.midbox {
  position: relative;
  overflow: hidden;
}

.midbox::after {
  content: "";
  position: absolute;
  /* bottom: -100%; */
  /* left: -50%; */
  width: 100%;
  height: 100%;
  /* border-radius: 45%; */
  background: rgb(232, 232, 232, 1);

  animation: onbet 2s ease-in-out infinite;
  z-index: 1;
  /* bottom: -90%; */
}

@keyframes onbet {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
